<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://text/1.0"
            class="text.TextPackage"
            genModel="model/Text.genmodel"/>
   </extension>

</plugin>
